{% include 'teste/partials/head.html' %}

<body>
    {% include 'teste/partials/header.html' %}
    {% include 'teste/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
            {% include 'teste/partials/teste.html' %}
        </div>
    </main>
    {% include 'teste/partials/footer.html' %}
</body>

</html>