<div class="teste teste-list-item">
    <div class="teste-cover">
        <img src="https://via.placeholder.com/1280x720/4287f5" alt="temporario">
    </div>
    <div class="teste-title-container">
        <h2 class="teste-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="teste-author">
        <span class="teste-author-item">
            <i class="fas fa-user"></i>
            Lucas Gomes
        </span>
        <span class="teste-author-item">
            <i class="fas fa-calendar-alt"></i>
            16/10/2021 às 11:21
        </span>
        <span class="teste-author-item">
            <a href="">
                <i class="fas fa-layer-group"></i>
                <span>café da manhã</span>
            </a>
        </span>
    </div>

    <div class="teste-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, esse natus distinctio
            cupiditate ad soluta libero eveniet magni accusamus sapiente voluptatibus unde itaque officiis
            ex veniam adipisci, amet nam reprehenderit.</p>
    </div>
    <div class="teste-meta-container">
        <div class="teste-meta teste-preparation">
            <h3 class="teste-meta-title"><i class="fas fa-stopwatch"></i>Preparo</h3>
            <div class="teste-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="teste-meta teste-servings">
            <h3 class="teste-meta-title"><i class="fas fa-pizza-slice"></i>Porções</h3>
            <div class="teste-meta-text">
                0 Porções
            </div>
        </div>
    </div>
    <footer class="teste-footer">
        <a class="teste-read-more button button-dark button-full-width" href="">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>